:root:root {
    --el-color-primary-light-5: #4377FE !important;
    --el-color-primary: #4377FE !important;
    --el-font-weight-primary: 400 !important;
    --el-dialog-padding-primary: 10px !important;
    --el-color-danger:#F33764;
    --el-color-danger-light-3: #f25076;
    --el-color-danger-light-5: #fab6b6;
    --el-color-danger-light-7: #fcd3d3;
    --el-color-danger-light-8: #fde2e2;
    --el-color-danger-light-9: #fef0f0;
    --el-color-danger-dark-2: #e92754;

    --el-color-success: #03BC59;
    --el-color-success-light-3: #01cb60;
    --el-color-success-light-5: #b3e19d;
    --el-color-success-light-7: #d1edc4;
    --el-color-success-light-8: #e1f3d8;
    --el-color-success-light-9: #f0f9eb;
    --el-color-success-dark-2: #02af53;


    --el-color-info: #999;
    --el-color-info-light-3: #a4a5aa;
    --el-color-info-light-5: #c8c9cc;
    --el-color-info-light-7: #dedfe0;
    --el-color-info-light-8: #e9e9eb;
    --el-color-info-light-9: #f4f4f5;
    --el-color-info-dark-2: #73767a;


    --el-disabled-bg-color:#F5F5F5;
    

    .el-input.is-disabled.el-input-group--append{
      --el-input-border-color:#ECECEC;
    }

    .el-table{
      --el-table-header-text-color:#000;
      --el-table-text-color:#000;
      --el-table-header-bg-color:#F5F8FF;
    }
    
    .el-button--primary{
      --el-button-hover-bg-color:#2e68fa;
      --el-button-hover-border-color:#2e68fa;
      --el-button-active-bg-color:#2663fd;
      --el-button-active-border-color:#2663fd;
    }
    .el-button--primary.is-link, .el-button--primary.is-plain, .el-button--primary.is-text{
      --el-button-hover-text-color:var(--el-color-primary);
      --el-button-active-text-color:var(--el-color-primary);
    }
    .el-button--danger.el-button--large{
      --el-button-border-color:#FF0004;
      --el-button-text-color:#FF0004;
      --el-button-bg-color:rgba(255,255,255,0);
      --el-button-hover-text-color:#FF0004;
      --el-button-hover-bg-color:rgba(255,255,255,0);
      --el-button-active-bg-color:rgba(255,255,255,0);
      --el-button-disabled-bg-color:rgba(255,255,255,0);
      --el-button-hover-border-color:#FF0004;
      --el-button-active-text-color:#FF0004;
    }
    .el-button--danger.el-button--large.is-disabled{
      background-color: rgba(255,255,255,0);
    }
    .el-input{
        --el-input-text-color:#000;
    }
 
    .el-pagination__editor.el-input--medium{
        --el-input-height:30px;
    }
    .el-dialog {
        --el-dialog-border-radius:16px;
    }

    .el-button--info.is-link, .el-button--info.is-plain, .el-button--info.is-text{
      --el-button-text-color:#666;
      --el-button-border-color:#666;
      --el-button-bg-color:rgba(255,255,255,0);
      --el-button-hover-bg-color:rgba(255,255,255,0);
      --el-button-hover-text-color:var(--el-color-primary);
      --el-button-hover-border-color:var(--el-color-primary);
      --el-button-active-text-color:var(--el-color-primary);
    }

    .el-button--small:not(.is-round){
      --el-button-size:28px;
      border-radius: 4px;
    }

    
    .el-select__wrapper{
      --el-border-radius-base:8px;
    }
    .el-input__wrapper{
      --el-input-border-radius:8px;
    }
    .el-button--large,
    .el-button--default{
      --el-border-radius-base:8px;
    }
    .el-input-group__append, .el-input-group__prepend{
      --el-input-border-radius:8px;
      padding: 0 15px;
    }
    .el-textarea{
      --el-input-border-radius:8px;
      --el-input-text-color:#000;
    }

    .el-message-box{
      --el-messagebox-border-radius:16px;
      --el-messagebox-width:500px;
    }

    
}
