:root:root {
    --el-color-primary-light-5: #4377FE !important;
    --el-color-primary: #4377FE !important;
    --el-font-weight-primary: 400 !important;
    --el-dialog-padding-primary: 10px !important;
    --el-color-danger:#ED4043;
    --el-disabled-bg-color:#F5F5F5;
    

    .el-input.is-disabled.el-input-group--append{
      --el-input-border-color:#ECECEC;
    }

    .el-table{
      --el-table-header-text-color:#000;
      --el-table-text-color:#000;
    }
    
    .el-button--primary{
      --el-button-hover-bg-color:#2e68fa;
      --el-button-hover-border-color:#2e68fa;
      --el-button-active-bg-color:#2663fd;
      --el-button-active-border-color:#2663fd;
    }
    .el-button--primary.is-link, .el-button--primary.is-plain, .el-button--primary.is-text{
      --el-button-hover-text-color:var(--el-color-primary);
      --el-button-active-text-color:var(--el-color-primary);
    }
    .el-input{
        --el-input-text-color:#000;
    }
 
    .el-pagination__editor.el-input--medium{
        --el-input-height:30px;
    }
    .el-dialog {
        --el-dialog-border-radius:16px;
    }

    .el-button--info.is-link, .el-button--info.is-plain, .el-button--info.is-text{
      --el-button-text-color:#666;
      --el-button-border-color:#666;
      --el-button-bg-color:rgba(255,255,255,0);
      --el-button-hover-bg-color:rgba(255,255,255,0);
      --el-button-hover-text-color:var(--el-color-primary);
      --el-button-hover-border-color:var(--el-color-primary);
      --el-button-active-text-color:var(--el-color-primary);
    }

    
    .el-select__wrapper{
      --el-border-radius-base:8px;
    }
    .el-input__wrapper{
      --el-input-border-radius:8px;
    }
    .el-button--large{
      --el-border-radius-base:8px;
    }
    .el-input-group__append, .el-input-group__prepend{
      --el-input-border-radius:8px;
    }
    .el-textarea{
      --el-input-border-radius:8px;
      --el-input-text-color:#000;
    }
}
